<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Noteworthy links - Andrej T.</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<style>
	body {
		background: url('img/background.png');
	}
	a, a:visited {
		color: #3B5998;
		font-weight: 900;
	}
	#main {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		border: 1px solid silver;
		padding: 10px;
		background: white;
	}
	ul {
		list-style-type: none;
	}
	.link-domain {
		color: silver;
	}
	.link-permalink {
		font-weight: 100;
	}
	:target {
		border-left: 2px solid silver;
		padding-left: 5px;
	};
</style>

<script type="text/javascript">
	// Simple JavaScript Templating
	// John Resig - http://ejohn.org/ - MIT Licensed
	(function(){
	  var cache = {};
	  
	  this.tmpl = function tmpl(str, data){
	    // Figure out if we're getting a template, or if we need to
	    // load the template - and be sure to cache the result.
	    var fn = !/\W/.test(str) ?
	      cache[str] = cache[str] ||
	        tmpl(document.getElementById(str).innerHTML) :
	      
	      // Generate a reusable function that will serve as a template
	      // generator (and which will be cached).
	      new Function("obj",
	        "var p=[],print=function(){p.push.apply(p,arguments);};" +
	        
	        // Introduce the data as local variables using with(){}
	        "with(obj){p.push('" +
	        
	        // Convert the template into pure JavaScript
	        str
	          .replace(/[\r\t\n]/g, " ")
	          .split("<%").join("\t")
	          .replace(/((^|%>)[^\t]*)'/g, "$1\r")
	          .replace(/\t=(.*?)%>/g, "',$1,'")
	          .split("\t").join("');")
	          .split("%>").join("p.push('")
	          .split("\r").join("\\'")
	      + "');}return p.join('');");
	    
	    // Provide some basic currying to the user
	    return data ? fn( data ) : fn;
	  };
	})();
</script>

<script type="text/html" id="links_template">
	<% for (var i = 0; i < links.length; i++) { %>
		<li id="<%= i %>"class="link">
			<a class="link-title" href="<%= links[i].href %>"><%= links[i].title %></a>
			<span class="link-domain">(<%= links[i].domain %>)</span>
			<p class="link-description"><%= links[i].description %>&nbsp;<a class="link-permalink" href="#<%= i %>">#</a></p>
		</li>
	<% } %>
</script>

<script type="text/javascript">
	db_links = [
		{
			title: "Bret Victor - Inventing on Principle",
			href: "http://vimeo.com/36579366",
			domain: "vimeo.com",
			description: "Demonstration of innovative UI design; programming with constant feedback from the environment. Great talk."
		},
		{
			title: "Richard Feynman - No Ordinary Genius",
			href: "https://www.youtube.com/watch?v=Fzg1CU8t9nw",
			domain: "youtube.com",
			description: "Documentary about Richard Feynman."
		},
		{
			title: "Ask HN: What were your naivetés in your twenties?",
			href: "https://news.ycombinator.com/item?id=1474454",
			domain: "news.ycombinator.com",
			description: "Comment written by Daniel Markham on Hacker News."
		},
		{
			title: "Doing",
			href: "http://www.creativesomething.net/post/35780369376",
			domain: "creativesomething.net",
			description: "Blog post about creativity and the passion of doing."
		},
	]
</script>

</head>
<body>
<div id="main">
	<div id="right">
	<h3 style="margin-left: 10px;">Noteworthy links</h3>
	
	<ul id="links-wrapper"></ul>
	
	</div>
</div>
</body>

<script type="text/javascript">
	// Generate links and insert the into the page
	links_wrapper = document.getElementById('links-wrapper')
	links_wrapper.innerHTML = tmpl('links_template', {links: db_links});
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37081923-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 </script>

</html>